@import "tailwindcss";
@import url("https://fonts.cdnfonts.com/css/apercu-pro");
.font-apercu-pro {
    font-family: 'Apercu Pro';
}


.clip-path-triangle {
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}


